<section class="section section-about">
    <div class="container">
        <div class="row">
        <div class="col-md-3">
            <img class="img-responsive" src="{{ "/assets/img/trevor@2x.png" | prepend: site.baseurl }}">
        </div>
            <div class="col-md-6">
            <h1>I’m Trevor McKendrick.</h1>
            <p class="lead">I have a master’s and bachelor’s degree in accounting from the #1 accounting university in the US, and worked as an auditor at one of the Big 4 accounting firms (KPMG) in their Silicon Valley office.</p>
            <p>I also started my own software company, grew it to over a million users, and sold it in 2015.</p>
            <p><a href="http://www.trevormckendrick.com/how-i-sold-my-bible-app-company/">Read more about how I sold my company here.</a></p>
            </div>
            <div class="col-md-2 col-md-offset-1 p-t-md">
            <a href="https://soundcloud.com/hearstartup/11-know-your-customer"><img class="" src="{{ "/assets/img/play-startup.png" | prepend: site.baseurl }}"></a>
                
            <p class="p-t-sm">Listen to my episode on the StartUp Podcast</p>
            </div>
        </div>
    </div>
</section>