<section class="section-p-b-none browser-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header-centered">
                    <h1 class="on-dark">Stop wading through 30 browser tabs.</h1>
                    <h3 class="on-dark">Answer all of your basic tax and accounting questions in one place.</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <img class="img-responsive center" src="{{ "/assets/img/browser@2x.png" | prepend: site.baseurl }}">
            </div>
        </div>
    </div>
</section>