<sectin class="section section-cred">
    <div class="row p-x-sm">
        <div class="container">
            <div class="col-md-12">
                <p class="text-center mp-0">You might have read about me on one of these fine publications. </p>
            </div>
        </div>
    </div>
    <div class="row bg-gray-light p-x-md">
        <div class="container">
            <div class="col-md-12">
                <img class="center" src="{{ "/assets/img/logos@2x.png" | prepend: site.baseurl }}">
            </div>
        </div>
    </div>
</sectin>