<section class="section section-email">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header-centered">
          <h1>Coming April 5th</h1>
          <h2>Download a samle chapter</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <script src="https://app.convertkit.com/assets/CKJS4.js?v=21"></script>

<div class="ck_form ck_vertical_subscription_form">
  <div class="ck_form_content">
      <h3 class="ck_form_title">Download a Sample Chapter</h3>
      <div class="ck_description">
        <span class="ck_image">
          
        </span>
          <p><img src="https://convertkit.s3.amazonaws.com/assets/pictures/3646/36997/content_Cover-Small.png"><br></p><p>I'll send you a sample of the course and notify you when it opens to the public.</p>
      </div>
  </div>

  <div class="ck_form_fields">

    <div id='ck_success_msg'  style='display:none;'>
      <p>Success! Now please check your email to confirm your subscription.</p>
    </div>

    <!--  Form starts here  -->
    <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/19187/subscribe" data-remote="true">
      <input type="hidden" value="{&quot;form_style&quot;:&quot;full&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options">
      <input type="hidden" name="id" value="19187" id="landing_page_id">
      <div class="ck_errorArea">
        <div id="ck_error_msg" style="display:none">
          <p>There was an error submitting your subscription. Please try again.</p>
        </div>
      </div>
      <div class="ck_control_group ck_first_name_field_group">
        <label class="ck_label" for="ck_firstNameField">First Name</label>
        <input type="text" name="first_name" class="ck_first_name" id="ck_firstNameField">
      </div>
      <div class="ck_control_group ck_email_field_group">
        <label class="ck_label" for="ck_emailField">Email Address</label>
          <input type="email" name="email" class="ck_email_address" id="ck_emailField" required>
      </div>
      <label class='ck_checkbox' style='display:none;'>
        <input class="optIn ck_course_opted" name='course_opted' type="checkbox" id="optIn" checked />
        <span class='ck_opt_in_prompt'><p>I'd like to receive the free email course.</p></span>
      </label>

      <button class="subscribe_button ck_subscribe_button btn fields" id='ck_subscribe_button'>
        Send Me Sample Chapter
      </button>
      <span class="ck_guarantee">
        
      </span>
    </form>
  </div>

 </div>


<style type="text/css">/* Layout */
  

&lt;!-- Facebook Pixel Code --&gt;
&lt;script&gt;
!function(f,b,e,v,n,t,s){if(f.fbq)return !important;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)} !important;if(!f._fbq)f._fbq=n !important;
n.push=n !important;n.loaded=!0 !important;n.version=&#x27;2.0&#x27; !important;n.queue=[] !important;t=b.createElement(e) !important;t.async=!0 !important;
t.src=v !important;s=b.getElementsByTagName(e)[0] !important;s.parentNode.insertBefore(t,s)}(window,
document,&#x27;script&#x27;,&#x27;//connect.facebook.net/en_US/fbevents.js&#x27;) !important;

fbq(&#x27;init&#x27;, &#x27;1629943093930155&#x27;) !important;
fbq(&#x27;track&#x27;, &quot;PageView&quot;) !important;&lt;/script&gt;
&lt;noscript&gt;&lt;img height=&quot;1&quot; width=&quot;1&quot; style=&quot;display:none&quot;
src=&quot;https://www.facebook.com/tr?id=1629943093930155&amp;ev=PageView&amp;noscript=1&quot;
/&gt;&lt;/noscript&gt;
&lt;!-- End Facebook Pixel Code --&gt;
</style>
      </div>
    </div>
  </div>
</section>