<section class="section section-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-responsive">
                    <img src="{{ "/assets/img/book-cover-hero@2x.png" | prepend: site.baseurl }}">
                    <p class="on-dark text-center">Sign up to be notified when it releases</p>
                </div>
            </div>
            <div class="col-md-6">
                <h1>Learn everything entrepreneurs and freelancers  should know about accounting.</h1>
                <h2 class="">A brand new book on tax and accounting essentials.</h2>
                
                <div class=" well well-translucent">

                  <div id='ck_success_msg'  style='display:none;'>
                    <p>Success! Now please check your email to confirm your subscription.</p>
                  </div>

                  <!--  Form starts here  -->
                  <form id="ck_subscribe_form" class="ck_subscribe_form" action="https://app.convertkit.com/landing_pages/19187/subscribe" data-remote="true">
                    <input type="hidden" value="{&quot;form_style&quot;:&quot;full&quot;,&quot;converted_behavior&quot;:&quot;show&quot;}" id="ck_form_options">
                    <input type="hidden" name="id" value="19187" id="landing_page_id">
                    <div class="ck_errorArea">
                      <div id="ck_error_msg" style="display:none">
                        <p>There was an error submitting your subscription. Please try again.</p>
                      </div>
                    </div>
<!--                       <div class="ck_control_group ck_first_name_field_group form-group">
                        <label class="ck_label on-dark" for="ck_firstNameField">First Name</label>
                        <input type="text" name="first_name" class="ck_first_name form-control input-sm" id="ck_firstNameField">
                      </div> -->
                      <div class="ck_control_group ck_email_field_group form-group">
                        <label class="ck_label on-dark" for="ck_emailField">Email Address</label>
                          <input type="email" name="email" class="ck_email_address form-control input-lg" id="ck_emailField" required>
                      </div>
                    <label class='ck_checkbox' style='display:none;'>
                      <input class="optIn ck_course_opted" name='course_opted' type="checkbox" id="optIn" checked />
                      <span class='ck_opt_in_prompt'><p>I'd like to receive the free email course.</p></span>
                    </label>
                    <button class="subscribe_button ck_subscribe_button btn fields m-t-sm btn btn-hero" id='ck_subscribe_button'>
                      Send Me Sample Chapter
                    </button>
                    <span class="ck_guarantee">
                      
                    </span>
                  </form>
                </div>

 </div>


                <!-- <form class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="Full Name">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                  </div>
                  <button type="submit" class="btn btn-lg btn-hero">Send invitation</button>
                </form> -->
                
            </div>
        </div>
    </div>
</section>