<section class="section-p-b-none section-phone">
    <div class="row">
        <div class="container">
            <div class="col-md-4 col-md-offset-2 text-right">
                <img class="p-b-md" src="{{ "/assets/img/icon-coins.svg" | prepend: site.baseurl }}">
                <h1 class="">What about getting an accountant?</h1>
                <h3 class="p-x-md">A good one definitely earns their keep, but  many people talk to an accountant <strong>and don’t know what questions to ask.</strong></h3>
                
                <h3 class="">Then when they run into a problem <strong>it's too late for the accountant to fix.</strong></h3>
                <h3 class="p-x-md"><strong>I call this the "learned from experience" tax.</strong></h3>
                <!-- <p>Here’s a typical conversation between a freelancer and an accountant:</p> -->
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="{{ "/assets/img/phone@2x.png" | prepend: site.baseurl }}">
            </div>
        </div>
    </div>
</section>