<section class="section section-tiled">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header-centered">
                    <h1>Learn all the basics in One Place</h1>
                    <h2>Here’s a few of the questions the course will cover:</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card info-card">
                    <div class="icon-container">
                        <img class="img-responsive center" src="{{ "/assets/img/icon-3-people.svg" | prepend: site.baseurl }}">
                    </div>
                    <p> What’s the difference between a bookkeeper, an accountant, and a CPA?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card info-card">
                    <div class="icon-container">
                        <img class="img-responsive center" src="{{ "/assets/img/card.svg" | prepend: site.baseurl }}">
                    </div>
                    <p>What expenses can I deduct?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card info-card">
                    <div class="icon-container">
                        <img class="img-responsive center" src="{{ "/assets/img/coin.svg" | prepend: site.baseurl }}">
                    </div>
                    <p> How do I do a reconciliation?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card info-card">
                    <div class="icon-container">
                        <img class="img-responsive center" src="{{ "/assets/img/store.svg" | prepend: site.baseurl }}">
                    </div>
                    <p> When should I incorporate? What state should I incorporate in?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card info-card">
                    <div class="icon-container">
                        <img class="img-responsive center" src="{{ "/assets/img/safe.svg" | prepend: site.baseurl }}">
                    </div>
                    <p>How can I save on taxes with an S Corp?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card info-card">
                    <div class="icon-container">
                        <img class="img-responsive center" src="{{ "/assets/img/hand.svg" | prepend: site.baseurl }}">
                    </div>
                    <p>How do I pay myself properly?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card info-card">
                    <div class="icon-container">
                        <img class="img-responsive center" src="{{ "/assets/img/calculator.svg" | prepend: site.baseurl }}">
                    </div>
                    <p>What tools are best for tracking expenses?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card info-card">
                    <div class="icon-container">
                        <img class="img-responsive center" src="{{ "/assets/img/money.svg" | prepend: site.baseurl }}">
                    </div>
                    <p>How do I set up payroll?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card info-card">
                    <div class="icon-container">
                        <img class="img-responsive center" src="{{ "/assets/img/fork.svg" | prepend: site.baseurl }}">
                    </div>
                    <p>How do I set up an Income statement and balance Sheet?</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card info-card">
                    <div class="icon-container">
                        <img class="img-responsive center" src="{{ "/assets/img/taxes.svg" | prepend: site.baseurl }}">
                    </div>
                    <p> How do I file my taxes?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card info-card">
                    <div class="icon-container">
                        <img class="img-responsive center" src="{{ "/assets/img/software.svg" | prepend: site.baseurl }}">
                    </div>
                    <p>What software do I use to manage my bookkeeping?</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card info-card">
                    <div class="icon-container">
                        <img class="img-responsive center" src="{{ "/assets/img/robot.svg" | prepend: site.baseurl }}">
                    </div>
                    <p>What’s the right way to pay my contractors?</p>
                </div>
            </div>
        </div>
    </div>
</section>