<section class="section section-warning">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-header-centered">
                    <img class="img-responsive center" src="{{ "/assets/img/alert.png" | prepend: site.baseurl }}">
                    <h1 class="on-dark">Avoid the “Learned from experience” tax</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <img class="pull-right" src="{{ "/assets/img/testimonial-image.png" | prepend: site.baseurl }}">
            </div>
            <div class="col-md-5">
                <h4 class="on-dark">
                    “Trevor has compiled answers to all the questions I wish I’d known when I started freelancing. This book would have saved me thousands of dollars.”
                </h4>
                <br>
                <h4 class="text-right"><span >— Seth Jenks, Entreprenuer | Designer</span></h4>
            </div>
        </div>
    </div>
</section>